.svg {
  fill: #353535;
  border-radius: 5px;
  height: 36px !important;
  width: 36px !important;
  padding: 5px;
  margin-left: 5px;
}

.mll-3 {
  margin-left: 32px;
}

.svg:hover {
  fill: #ffffff;
  background: #353535;
}

.custom-container {
  width: 80% !important;
  margin: 0 auto;
}

.navigation {
  background: #000000 !important;
  height: 60px;
}

.custom-padding {
  padding-top: 90px;
  padding-bottom: 50px;
}

.email_btn {
  background: #353535;
  border-radius: 8px;
  height: 50px;
  width: 145px;
  outline: none !important;
  border: none;
  font-family: Mulish;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 144%;
  text-align: center;
  color: #ffffff;
  margin-right: 1rem;
}

.call_btn {
  background: #353535;
  border-radius: 8px;
  height: 50px;
  border: none;
  width: 194px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 144%;
  outline: none !important;
  text-align: center;
  color: #ffffff;
}

.title {
  font-family: Cinzel Decorative;
  font-style: normal;
  font-weight: bold;
  font-size: 78px;
  line-height: 102.3%;
  color: #353535;
}

.text {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
}

.soon-style {
  margin-left: -35px;
}

.social_text {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 144%;
  text-align: center;
  color: #353535;
}

.card-img {
  width: 100% !important;
}

.footer {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 144%;
  letter-spacing: 0.05em;
  color: #353535;
}

.right_design {
  top: -50px;
  margin-left: 540px;
}

.design_2 {
  top: 77px;
  margin-left: 540px;
}

.design_3 {
  top: 550px;
  margin-left: 40px;
}

// Margin Area
.ml-3 {
  margin-left: 1rem !important;
}

.mt-8 {
  margin-top: 80px;
}

.mt-186 {
  margin-top: 186px;
}

// Extra Small Devices
@media (max-width: 576px) {
  .container {
    width: 100% !important;
    padding: 0 10px;
    margin: 0 auto;
  }

  .title {
    font-size: 50px;
    text-align: center;
  }

  .text {
    text-align: center;
  }

  .soon-style {
    margin-left: -23px;
  }

  .email_btn {
    width: 115px;
  }

  .call_btn {
    width: 174px;
  }

  .social_area {
    display: none;
  }

  .custom_margin_top {
    margin-top: 3rem;
  }

  .card_img {
    width: 100%;
    height: 494px;
  }

  .btn_area {
    text-align: center;
  }

  .navigation {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background: #000000 !important;
    height: 60px;
  }

  .bg {
    background: url("./assets/lines.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
  }

  .overlay {
    height: 394px;
    margin-left: 110px;
    background: #d5dfc8;
  }

  .right_design {
    display: none;
  }

  .design_2 {
    display: none;
  }

  .design_3 {
    top: 450px;
    margin-left: 10px;
  }

  .footer {
    display: none;
  }

  .social_footer {
    text-align: center;
    margin-top: 2rem;
  }

  .col-md-1,
  .col-md-5 {
    display: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .custom-container {
    width: 100% !important;
    margin: 0 auto;
  }

  .title {
    font-size: 60px;
    text-align: center;
  }

  .text {
    text-align: center;
  }

  .soon-style {
    margin-left: -30px;
  }

  .email_btn {
    width: 115px;
  }

  .call_btn {
    width: 174px;
  }

  .social_area {
    display: none;
  }

  .custom_margin_top {
    margin-top: 3rem;
  }

  .card_img {
    width: 100%;
    height: 494px;
  }

  .btn_area {
    text-align: center;
  }

  .navigation {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background: #000000 !important;
    height: 60px;
  }

  .bg {
    background: url("./assets/lines.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
  }

  .overlay {
    height: 394px;
    margin-left: 110px;
    background: #d5dfc8;
  }

  .right_design {
    display: none;
  }

  .design_2 {
    display: none;
  }

  .design_3 {
    top: 450px;
    margin-left: 10px;
  }

  .footer {
    display: none;
  }

  .social_footer {
    text-align: center;
    margin-top: 2rem;
  }

  .col-md-1,
  .col-md-5 {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 100% !important;
    padding: 0;
    margin: 0 auto;
  }

  .soon-style {
    margin-left: -28px;
  }

  .design_3 {
    top: 310px;
    margin-left: 5%;
  }

  .right_design {
    top: -50px;
    margin-left: 300px;
  }

  .design_2 {
    display: none;
  }

  .social_footer {
    display: none;
  }

  .title {
    font-size: 70px;
  }

  .email_btn {
    width: 95px;
    font-size: 14px;
    margin-right: 0.5rem;
  }

  .call_btn {
    width: 144px;
    font-size: 14px;
  }

  .ml-3 {
    margin-left: 0.7rem !important;
  }

  .mt-186 {
    margin-top: 220px;
  }

  .bg {
    background: url("./assets/lines.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }

  .card_img {
    height: 600px;
  }

  .col-md-1 {
    display: none;
  }

  .title {
    font-size: 60px;
  }

  .chair {
    position: absolute;
    top: 170px;
    right: -150px;
    width: 35%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
  .bg {
    background: url("./assets/lines.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }

  .soon-style {
    margin-left: -33px;
  }

  .title {
    font-size: 70px;
  }

  .col-md-1 {
    display: none;
  }

  .design_3 {
    top: 410px;
    margin-left: 20px;
  }

  .right_design {
    top: -70px;
    margin-left: 389px;
  }

  .design_2 {
    top: 57px;
    margin-left: 389px;
  }

  .chair {
    position: absolute;
    top: 230px;
    right: -205px;
    width: 35%;
  }

  .social_footer {
    display: none;
  }

  .email_btn {
    width: 95px;
    font-size: 14px;
    margin-right: 0.5rem;
  }

  .call_btn {
    width: 144px;
    font-size: 14px;
  }

  .footer {
    padding-left: 1.5rem;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1400px) {
  .social_footer {
    display: none;
  }

  .bg {
    background: url("./assets/lines.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 120%;
  }

  .right_design {
    top: -50px;
    margin-left: 500px;
  }

  .design_2 {
    top: 77px;
    margin-left: 500px;
  }

  .design_3 {
    top: 505px;
  }

  .footer {
    margin-top: 250px;
    padding-left: 1.5rem;
  }

  .chair {
    position: absolute;
    top: 280px;
    right: -250px;
  }

  .col-md-1 {
    display: none;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .social_footer {
    display: none;
  }

  .bg {
    background: url("./assets/lines.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 120%;
  }

  .footer {
    margin-top: 250px;
    padding-left: 1.5rem;
  }

  .chair {
    position: absolute;
    top: 320px;
    right: -250px;
  }

  .col-md-1 {
    display: none;
  }

  .design_3 {
    top: 600px;
  }
}
